img {
    height: 100px;
    width: 100px;
}

.container {
    background: #fc6dbc; 
}

body {
    background-image: url("http://kb4images.com/images/pretty-backgrounds/37953118-pretty-backgrounds.jpg");
}